name: Super-Linter

on: 
  push:
    branches:
      - dev

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: dev
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TYPESCRIPT_STANDARD_TSCONFIG_FILE: tsconfig.json
          VALIDATE_TYPESCRIPT_STANDARD: false
          VALIDATE_MARKDOWN: false
          FILTER_REGEX_EXCLUDE: '.*\.md$'